@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.profile-container-fluid {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarkecil {
  background-color: #222;
}
.profile {
  width: 90%;
  height: 80vh;
  margin-top: 5%;
  /* background-color: aquamarine; */
  border: 2px solid #757575;
}

.btn-pagination {
  position: absolute;
  /* margin-top: 10px; */
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 50%;
  color: #757575;
}
.btn-pagination ul {
  list-style: none;
  width: 100%;
}

.btn-pagination ul li a {
  color: white;
  text-decoration: none;
}
.btn-pagination ul .selected {
  color: white;
  text-decoration: none;
}
.div-profile {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-img {
  width: 50%;
  height: 20vh;
  /* background-color: rgb(203, 203, 203); */

  margin: auto;
  margin-top: 5vh;
}

.profile-image {
  width: 100%;
  height: 15vh;
}

.profile-nav {
  /* background-color: cornflowerblue; */
  height: 50vh;
}

.pet-nav,
.adopt-nav,
.history-nav,
.logout-nav {
  font-family: "Indie Flower", cursive;
  /* font-weight: 500; */
  font-size: 2.5rem;
  padding: -20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.logout-nav {
  margin-top: 25%;
}

.logout-nav:hover {
  color: rgba(0, 0, 255, 0.156);
}

.pet-nav:hover,
.adopt-nav:hover,
.history-nav:hover {
  font-size: 4rem;
  /* background-color: #222; */
  /* color: whitesmoke; */
}

/* PET CONTENT */
.hide {
  display: none;
}

.btn-open-adopt {
  width: 150px;
  background-color: #1e4944;
  color: #222;
  border: none;
  border-radius: 25px;
  position: relative;
  margin-right: 82.5%;
}

.pet-card-img {
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.pet-card-img:hover {
  opacity: 1;
}

.lel {
  display: table-cell;
  width: 200px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.lel .shadow_swhow_mini {
  background-color: rgba(19, 30, 33, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lel:hover .shadow_swhow_mini {
  background-color: rgba(16, 23, 41, 0);
}
.lel .deroul_titre {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.lel:hover .deroul_titre {
  background-color: #1e4944;
  left: 0px;
}
.lel .deroul_soustitre {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 25px;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.lel:hover .deroul_soustitre {
  background-color: #417c74;
  right: 0px;
}

.card-pet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-img {
  width: 200px;
  height: 200px;
}

.pet-img:hover {
  width: 190px;
  height: 190px;
  cursor: pointer;
  opacity: 1;
  background: rgba(black, 0.6);
}

/* ADOPT CONTENT */

.adopt-container-fluid {
  display: flex;
  align-items: center;
  height: 100%;
}

.div-adopt-1 {
  width: 90%;
  height: 90%;
  margin: auto;
  align-self: auto;
}

/* CSS */
.btn-adopt {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-adopt:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  /* transform: scale(1.05) rotate(-1deg); */
}

/* MODAL */
