@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.profile-container-fluid {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 80%;
  height: 80vh;
  /* background-color: aquamarine; */
  border: 2px solid white;
}

.div-profile {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-img {
  width: 50%;
  height: 20vh;
  /* background-color: rgb(203, 203, 203); */

  margin: auto;
  margin-top: 5vh;
}

.profile-image {
  width: 100%;
  height: 20vh;
}

.profile-nav {
  /* background-color: cornflowerblue; */
  height: 50vh;
}

.pet-nav,
.adopt-nav,
.history-nav {
  font-family: "Indie Flower", cursive;
  /* font-weight: 500; */
  font-size: 2.5rem;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
