@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.profile-container-fluid {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 80%;
  height: 80vh;
  /* background-color: aquamarine; */
  border: 2px solid #757575;
}

.div-profile {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-img {
  width: 50%;
  height: 20vh;
  /* background-color: rgb(203, 203, 203); */

  margin: auto;
  margin-top: 5vh;
}

.profile-image {
  width: 100%;
  height: 20vh;
}

.profile-nav {
  /* background-color: cornflowerblue; */
  height: 50vh;
}

.pet-nav,
.adopt-nav,
.history-nav,
.logout-nav {
  font-family: "Indie Flower", cursive;
  /* font-weight: 500; */
  font-size: 2.5rem;
  padding: -20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.logout-nav {
  margin-top: 30%;
}

.pet-nav:hover,
.adopt-nav:hover,
.history-nav:hover {
  font-size: 4rem;
  /* background-color: #222; */
  /* color: whitesmoke; */
}

/* PET CONTENT */
.hide {
  display: none;
}

.btn-open-adopt {
  width: 150px;
  background-color: #1e4944;
  color: #222;
  border: none;
  border-radius: 25px;
  position: relative;
  margin-right: 75%;
}

.pet-card-img {
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.pet-card-img:hover {
  opacity: 1;
}

.carreaux_presentation_light {
  display: table-cell;
  width: 200px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.carreaux_presentation_light .shadow_swhow_mini {
  background-color: rgba(19, 30, 33, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carreaux_presentation_light:hover .shadow_swhow_mini {
  background-color: rgba(16, 23, 41, 0);
}
.carreaux_presentation_light .deroul_titre {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_titre {
  background-color: #1e4944;
  left: 0px;
}
.carreaux_presentation_light .deroul_soustitre {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 25px;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre {
  background-color: #417c74;
  right: 0px;
}

.card-pet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-img {
  width: 200px;
  height: 200px;
}

.pet-img:hover {
  width: 190px;
  height: 190px;
  cursor: pointer;
  opacity: 1;
  background: rgba(black, 0.6);
}

/* ADOPT CONTENT */

.adopt-container-fluid {
  background-color: antiquewhite;
  height: 100%;
}
