.home {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  /* background-color: bisque; */
  height: 500px;
}

.header {
  display: flex;
  flex-direction: row;
  /* background-color: bisque; */
  justify-content: space-between;
  align-items: center;
}

.hr {
  width: 75%;
  padding: auto;
}

.img-logo {
  width: 20%;
  margin-left: -3%;
  margin-right: -5%;
}

.profile {
  width: 5%;
}

.home-banner {
  border-radius: 40px;
  height: 60vh;
}

/* ========== CONTENT CARD ========== */
.slide-container {
  margin-top: 100px;
  height: 300px;
}

.cat {
  font-size: 40px;
  margin-left: 10px;
}

.card {
  border-radius: 25px;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog {
  margin-top: 100px;
}
