@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

.container-login-fluid {
  display: flex;
  background-color: #b6e2d3;
}

.div-register {
  width: 80%;
  height: 80vh;
  vertical-align: middle;
  border-radius: 50px;
}
.input-login {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
}

.banner {
  /* background-color: antiquewhite; */
  /* width: 100%; */
  height: 100%;
  border-radius: 5% 0 0 5%;
}

.banner-img {
  border-radius: 5% 0 0 5%;
  margin-left: -12px;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.logo-login {
  width: 100%;
  height: 30%;
  margin-top: 5%;
  /* background-color: brown; */
}

.logo-img {
  width: 50%;
  /* background-color: antiquewhite; */
}

.form-label {
  margin-left: 5px;
}

.form {
  width: 80%;
  height: 31vh;
  margin-top: 7%;
  background-color: #ffffffaf;
  padding: 20px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.email-input,
.password-input {
  border-radius: 50px;
}

.btn-register {
  margin-left: 10px;
}

.btn {
  border-radius: 50px;
}
