.home {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  /* background-color: bisque; */
  height: 500px;
}

.banner-home {
  padding-top: 15%;
}

.header {
  display: flex;
  flex-direction: row;
  /* background-color: bisque; */
  justify-content: space-between;
  align-items: center;
}

.hr {
  width: 75%;
  padding: auto;
}

.img-logo {
  width: 20%;
  margin-left: -3%;
  margin-right: -5%;
}

.home-profile {
  width: 5%;
}

.home-banner {
  border-radius: 40px;
  height: 60vh;
}

/* ========== CONTENT CARD ========== */
.slide-container {
  margin-top: 10%;
  height: 300px;
}

.cat {
  font-size: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.hr-cat {
  width: 90%;
  align-self: center;
  margin-left: auto;
}

.card-image,
.card {
  border-radius: 25px;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #222;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog {
  margin-top: 100px;
}

.card-slider {
  width: 200px;
}

/* HOME ~ CARD CONTENT */

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 300px;
  background: #222;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
}
.figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.figure img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.box:hover .figure img {
  transform: scale(0);
}
.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  transform: scale(2);
  opacity: 0;
  transition: 0.5s;
}
.box:hover .caption {
  transform: scale(1);
  opacity: 1;
}
.about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.about h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
}
.about p {
  color: #fff;
  margin: 20px 0 0;
  padding: 0;
  font-size: 16px;
}
